@use "../helpers/_placeholders";
@use "../helpers/_variables" as var;
@use "../helpers/_mixins" as mx;


header {
    @include mx.flexing(column, center, center);

    h1 {
        margin-top: 5rem;

        .headerText {
            
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(81deg) brightness(108%) contrast(101%);
            @media screen and (max-width: 800px){
                width: 100px;        
            }
        }
        
    }
    h1 :nth-child(1){
        @media screen and (max-width: 800px){
            width: 76px;        
        }
    }

    h2 {
        margin-top: -0.5rem;
        font-size: 30px;
        @media screen and (max-width: 800px){
            font-size: 25px;      
        }
    }

    button {
        font-family: 'wp3';
        margin-top: 1rem;
        padding: 10px 20px;
        border: 2px solid var.$altColor;
        border-top-right-radius: 20px;
        background-color: var.$backColor;
        color: var.$altColor;
        font-size: 20px;
        transition: 250ms transform;
        font-weight: 400;

        &:hover {
            cursor: pointer;
            transform: translateX(5px);
            color: var.$mainColor;
        }
    }

    h3 {
        margin: 1rem 0;
        height: 1rem;
        font-size: 30px;
        @media screen and (max-width: 800px){
            font-size: 25px;      
        }
    }
}