@use "./helpers/_placeholders";
@use "./helpers/_variables" as var;
@use "./helpers/_mixins" as mx;

@use "./sections/header";
@use "./sections/game";
@use "./sections/jsClasses";


@font-face {
    font-family: 'wp3';
    src: url('../font/WO3.woff') format('woff');
}

:root{
    --winning-blocks: #886469;
}

*{
    @extend %noMarPad;
    box-sizing: border-box;
}

html{
    background-color: var.$backColor;
}

body{
    color: var.$altColor;
    font-family: 'wp3';
}

.container{
    height: 100vh;
    @include mx.flexing(column, auto, center);
}
